{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <title> Vahid Store </title>
</head>
<body>
  <div class="">
    <div class="row" >
      <div class="col">
        <nav class="navbar bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
          </div>
        </nav>
      </div>
    </div>
    <div class="container">
      <h4> {{ home }} <h4>
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>
</html>