{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template Test</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url "Home:home_page"%}">
          <img src="{% static "logo.png" %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
          Vahidoo
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url "Home:contact_page"%}">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "AccountProfile:login_view"%}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "Home:about_page"%}">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">

    </div>
    
    
    
    
    
    
    
    
    <h1>Testy Template </h1>
    <h2>Testy Template </h2>
    <h3>Testy Template </h3>
    <h4>Testy Template </h4>
    <h5>Testy Template </h5>
    <h6>Testy Template </h6>
    <p>Testy Template </p>
  <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
